@model IMSRepo.ViewModels.SOVM


@{
  ViewBag.Title = "Create";
}



<!-- left column -->
<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Add Location</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

      <div class="card-body">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
          Customers

          @Html.DropDownList("Customers", null, null, htmlAttributes: new { @class = "form-control" })
          @*@Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })*@

        </div>


        @*<div class="form-group">
            @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "" })

            @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })

          </div>*@

        @*@Html.Label("InvoiceNo", ViewBag.InvoiceNo)*@
        @*@Html.Label((string)@ViewBag.InvoiceNo)*@
        <div>
          Invoice No.
          @*@Html.EditorFor(model => model.MySO.InvoiceNo, new { htmlAttributes = new { @class = "", @value = ViewBag.InvoiceNo1, @readonly = "readonly" } })*@
          <input type="text" value="@ViewBag.InvoiceNo1" readonly />
        </div>

        <table id="saleReciept">
          <thead>
            <tr>
              <th>ProductName</th>
              <th>SalePrice</th>
              <th>Qty</th>
              <th>Amount</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr id="rowNo1">
              <td><input type="text" id="prod1" class="prod" /> </td>
              <td><input type="text" id="sale1" class="sale" /> </td>

              <td><input type="text" id="qty1" class="qty" /> </td>

              <td><input type="text" id="amount1" class="amount" /> </td>

              <td><button type="button" id="del1" class="del">del</button> </td>
            </tr>
          </tbody>

        </table>
        <button type="button" id="addrow" class="addthisrow">Add</button>


        <hr />
        <div class="form-group">
          <div class="class=" card-footer">
            <input type="submit" value="Add" class="btn btn-warning" style="width: 180px; margin-left:auto;margin-right:auto;display:block;margin-top:auto;margin-bottom:0%" />
          </div>
        </div>
        <br />
        <div>
          @Html.ActionLink("Back to List", "Index")
        </div>
      </div>
    }


  </div>

</div>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script src="~/Scripts/jquery.mcautocomplete.js"></script>

<script type="text/javascript">
  var serialNum = 1;
  var clickedTextboxId = "name0";
  var clickedIdNum = 1;
  var productColumns = [{ name: 'Id', minWidth: '100px' }, { name: 'Product', minWidth: '420px' }, { name: 'Sale Price', minWidth: '150px' }, { name: 'Stock', minWidth: '100px' }];
  //var products = []; //[['Ciplet', '10', '60'], ['Gaviscon', '85', '12'], ['Surficol', '110', '8']];
  var products = new Array();


      @*var array1 = @Html.Raw(Json.Encode(@ViewBag.Products));*@

      @foreach (var d in ViewBag.Products)
      {
            @:products.push(["@d.ProductNo", "@d.Name", "@d.SalePrice", "@d.Stock"]);
      }

      //alert(clickedIdNum);

  OnTypeName('#prod' + clickedIdNum);

  function OnTypeName(param) {
    //alert(products);
    //alert(clickedTextboxId);
    //$('#name' + txtSerialNum).mcautocomplete({
    //alert("abc");
    $(param).keyup(function (e) {

      clickedTextboxId = $(document.activeElement).attr("id");
      clickedIdNum = clickedTextboxId.substring(4);
      //alert(clickedTextboxId);
      //alert(clickedIdNum);
    });


    $(param).mcautocomplete({
      showHeader: true,
      columns: productColumns,
      source: products,
      select: function (event, ui) {
        this.value = (ui.item ? ui.item[1] : '');
        //productName = this.value;
        //if ($('#isPack' + clickedIdNum).val() == "true") {//false=piece true=PerPack

        //}

        $('#sale' + clickedIdNum).val(ui.item ? ui.item[2] : '');
        $('#qty' + clickedIdNum).val(ui.item ? 1 : '');

        //document.getElementById(clickedTextboxId).focus();
        update_itemTotal();
        //FetchProductRentStatus();
        return false;
      }
    });


    //alert("yes");
  }


  function update_itemTotal() {
    var ItemsTotal = 0;

    var orderQty = 0;
    var orderQtyPiece = 0;
    var returnQty = 0;
    var returnQtyPiece = 0;
    var SN = 0;

    $('#saleReciept > tbody  > tr').each(function () {

      var prodName = $(this).find("[id^='prod']").val();
      var myCount = 0;
      $('#saleReciept > tbody  > tr').each(function () {
        
        var prodName2 = $(this).find("[id^='prod']").val();
        if (prodName2 == prodName) {
          myCount += 1;
        }

        if (myCount > 1) {
          alert('product already selected');
        }

      });




      var qty = 0;
      var sale = 0;
        qty = $(this).find("[id^='qty']").val();
        //if (!(qty)) { qty = 0; }
        sale = $(this).find("[id^='sale']").val();
        var itemAmount = (qty * sale);
        $(this).find("[id^='amount']").val(itemAmount.toFixed(2));

    });

  }


 
  $(document).ready(function () {
    bodyEvent();

    $("#addrow").click(function (e) {
      //alert("123");
      serialNum += 1;
      var row = '<tr id="rowNo' + serialNum + '"><td><input type="text" id="prod' + serialNum + '" class="prod" /> </td><td><input type="text" id="sale' + serialNum + '" class="sale" /> </td><td><input type="text" id="qty' + serialNum + '" class="qty" /> </td><td><input type="text" id="amount' + serialNum + '" class="amount" /> </td><td><button type="button" id="del' + serialNum + '" class="del">del</button> </td></tr>';

      //alert(row);

      $("#saleReciept").append(row);

      bodyEvent();
      OnTypeName('#prod' + serialNum);


    });

    function bodyEvent() {
      $("#del" + serialNum).click(function () {

        $(this).parents("tr").remove();
        /*$("#saleReciept").append(row);*/
      });

      $('#qty' + serialNum).keyup(function () {
        update_itemTotal();
      });

      $('#sale' + serialNum).keyup(function () {
        update_itemTotal();
      });

    }

    


  });
</script>

