@model IMSRepo.ViewModels.SOVM


@{
  ViewBag.Title = "Create";
}



<!-- left column -->
<div class="col-md-12">
  <!-- general form elements -->
  <div class="card card-warning">
    <div class="card-header">
      <h3 class="card-title">Add Location</h3>
    </div>
    <!-- /.card-header -->
    <!-- form start -->

    @using (Html.BeginForm())
    {
      @Html.AntiForgeryToken()

  <div class="card-body">

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
      Customers

      @Html.DropDownList("Customers", null, null, htmlAttributes: new { @class = "form-control" })
      @*@Html.ValidationMessageFor(model => model.LocationName, "", new { @class = "text-danger" })*@

    </div>


    @*<div class="form-group">
      @Html.LabelFor(model => model.LocationId, htmlAttributes: new { @class = "" })

      @Html.EditorFor(model => model.LocationId, new { htmlAttributes = new { @class = "form-control" } })
      @Html.ValidationMessageFor(model => model.LocationId, "", new { @class = "text-danger" })

    </div>*@

    @*@Html.Label("InvoiceNo", ViewBag.InvoiceNo)*@
    @*@Html.Label((string)@ViewBag.InvoiceNo)*@
    <div>
      Invoice No.
      @*@Html.EditorFor(model => model.MySO.InvoiceNo, new { htmlAttributes = new { @class = "", @value = ViewBag.InvoiceNo1, @readonly = "readonly" } })*@
      <input type="text" value="@ViewBag.InvoiceNo1" name="MySO.InvoiceNo" readonly />
    </div>
    @Html.HiddenFor(model => model.MySO.Id)
    <table id="saleReciept">
      <thead>
        <tr>
          <th></th>
          <th>ProductName</th>
          <th>SalePrice</th>
          <th>Qty</th>
          <th>Amount</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        @if (Model.SODs.Count > 0)
        {
          int sNo = 0;
          foreach (var item in Model.SODs)
          {

            <tr id="rowNo@(sNo)">
              <td><input type="hidden" name="SODs.Index" value="@sNo" /></td>
              @*<td style="display:none;"><input type="text" readonly class="form-control classBGcolor" name="SaleOrderDetail[0].ProductId" id="idn0"></td>*@
              <td><input type="text" id="prod@(sNo)" class="prod" name="SODs[@(sNo)].Product.Name" value="@item.Product.Name" /> </td>
              <td><input type="text" id="sale@(sNo)" class="sale" name="SODs[@(sNo)].Product.SalePrice" value="@item.Product.SalePrice" /> </td>

              <td><input type="text" id="qty@(sNo)" class="qty" name="SODs[@(sNo)].QTY" value="@item.QTY" /> </td>

              <td><input type="text" id="amount@(sNo)" class="amount" name="SODs[@(sNo)].ItemTotal" readonly value="@item.ItemTotal" /> </td>

              <td><button type="button" id="del@(sNo)" class="del">del</button> </td>
            </tr>
sNo += 1;

          }
        }
      </tbody>

    </table>
    <button type="button" id="addrow" class="addthisrow">Add</button>

    <table>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><input readonly type="text" id="prod_d" class="classBorder0" /> </td>
          <td><input readonly type="text" id="sale_d" class="classBorder0" /> </td>

          <td><input readonly type="text" id="qty_d" class="classBorder0" /> </td>

          <td><input readonly type="text" id="totalAmount" class="" name="MySO.TotalAmount" /> </td>

          <td>@*<button type="button" id="del_d" class="del">del</button>*@ </td>
        </tr>
      </tbody>
    </table>

    <hr />
    <div class="form-group">
      <div class="class=" card-footer">
        <input type="submit" id="createBill" value="Pay" class="btn btn-warning" style="width: 180px; margin-left:auto;margin-right:auto;display:block;margin-top:auto;margin-bottom:0%" />
      </div>
    </div>
    <br />
    <div>
      @Html.ActionLink("Back to List", "Index")
    </div>
  </div>
    }


  </div>

</div>

<style>
  input[readonly].classBorder0 {
    background-color: transparent;
    border: 0;
    /*font-size: 1em;*/
  }
</style>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
@*<link rel="stylesheet" href="/resources/demos/style.css">*@
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

<script src="~/Scripts/jquery.mcautocomplete.js"></script>

<script type="text/javascript">

  var serialNum = 0;
  var clickedTextboxId = "name0";
  var clickedIdNum = 0;

  var sodCount = "@Model.SODs.Count()";
  for (i = 0; i < sodCount; i++)
  {
      serialNum = i;
      OnTypeName('#prod' + i);
    //alert(serialNum);
    bodyEvent();
      
  }




  var productColumns = [{ name: 'Id', minWidth: '100px' }, { name: 'Product', minWidth: '420px' }, { name: 'Sale Price', minWidth: '150px' }, { name: 'Stock', minWidth: '100px' }];
  //var products = []; //[['Ciplet', '10', '60'], ['Gaviscon', '85', '12'], ['Surficol', '110', '8']];
  var products = new Array();


      @*var array1 = @Html.Raw(Json.Encode(@ViewBag.Products));*@

      @foreach (var d in ViewBag.Products)
      {
            @:products.push(["@d.ProductNo", "@d.Name", "@d.SalePrice", "@d.Stock"]);
      }

      //alert(clickedIdNum);

  OnTypeName('#prod' + clickedIdNum);

  function OnTypeName(param) {
    //alert(products);
    //alert(clickedTextboxId);
    //$('#name' + txtSerialNum).mcautocomplete({
    //alert("abc");
    $(param).keyup(function (e) {

      clickedTextboxId = $(document.activeElement).attr("id");
      clickedIdNum = clickedTextboxId.substring(4);
      //alert(clickedTextboxId);
      //alert(clickedIdNum);
    });
    //alert("abc2");

    $(param).mcautocomplete({
      showHeader: true,
      columns: productColumns,
      source: products,
      select: function (event, ui) {
        this.value = (ui.item ? ui.item[1] : '');
        //productName = this.value;
        //if ($('#isPack' + clickedIdNum).val() == "true") {//false=piece true=PerPack

        //}

        $('#sale' + clickedIdNum).val(ui.item ? ui.item[2] : '');
        $('#qty' + clickedIdNum).val(ui.item ? 1 : '');

        //document.getElementById(clickedTextboxId).focus();
        update_itemTotal();
        //FetchProductRentStatus();
        return false;
      }
    });


    //alert("yes");
  }


  function update_itemTotal() {
    var totalAmount = 0;
    $('#saleReciept > tbody  > tr').each(function () {

      //var prodName = $(this).find("[id^='prod']").val();
      //var myCount = 0;
      //$('#saleReciept > tbody  > tr').each(function () {

      //  var prodName2 = $(this).find("[id^='prod']").val();
      //  if (prodName2 == prodName) {
      //    myCount += 1;
      //  }

      //  if (myCount > 1) {
      //    alert('product already selected');
      //  }

      //});

      var qty = 0;
      var sale = 0;
      var itemAmount = 0;

        qty = $(this).find("[id^='qty']").val();
        //if (!(qty)) { qty = 0; }
        sale = $(this).find("[id^='sale']").val();
      itemAmount = (qty * sale);
      totalAmount += itemAmount;
        $(this).find("[id^='amount']").val(itemAmount.toFixed(2));

    });

    $("#totalAmount").val(totalAmount.toFixed(2));

  }



  $(document).ready(function () {
    
    $("#addrow").click(function (e) {
      //alert("123");
      if (serialNum <= 5) {
      serialNum += 1;
        var row = '<tr id="rowNo' + serialNum + '">' +
          '<td><input type="hidden" name="SODs.Index" value="' + serialNum + '" /></td>' +
          '<td><input type="text" id="prod' + serialNum + '" class="prod" name="SODs[' + serialNum + '].Product.Name" /> </td>' +
          '<td><input type="text" id="sale' + serialNum + '" class="sale" name="SODs[' + serialNum + '].Product.SalePrice" /> </td>' +
          '<td><input type="text" id="qty' + serialNum + '" class="qty" name="SODs[' + serialNum + '].QTY" /> </td>' +
          '<td><input type="text" id="amount' + serialNum + '" class="amount" name="SODs[' + serialNum + '].ItemTotal" readonly /> </td>' +
          '<td><button type="button" id="del' + serialNum + '" class="del">del</button> </td>' +
          '</tr>';

      //alert(row);

      $("#saleReciept").append(row);

      bodyEvent();
      OnTypeName('#prod' + serialNum);
      }
      else{
        alert("limit 5 reached");
        document.getElementById('createBill').focus();
      }

    });


  });

  function bodyEvent() {
    /*alert('b s');*/
    $("#del" + serialNum).click(function () {

      $(this).parents("tr").remove();
      /*$("#saleReciept").append(row);*/
    });

    $('#qty' + serialNum).keyup(function () {
      update_itemTotal();
    });

    $('#sale' + serialNum).keyup(function () {
      update_itemTotal();
    });
    /*alert('b e');*/
  }

</script>

